@font-face {
    font-family: "Poppins SemiBold";
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  }
  
  @font-face {
    font-family: "Poppins Bold";
    src: url("../fonts/Poppins-Bold.ttf") format("truetype"), url("../fonts/Poppins-Bold.woff") format("woff");
  }
  
  @font-face {
    font-family: "Poppins Medium";
    src: url("../fonts/Poppins-Medium.ttf") format("truetype"), url("../fonts/Poppins-Medium.woff") format("woff");
  }
  
  @font-face {
    font-family: "Poppins Regular";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.woff") format("woff");
  }
<<<<<<< HEAD
  
=======
  
>>>>>>> c960759f1eb828d42d908fb592f695a5ea9a710b
